img{
  width: 80px;
}

.sidemenu{
 vertical-align: middle;
 width: 20px;
 margin-right: 12px;
 cursor: pointer;
}

.logo{
  vertical-align: middle;
  width: 100px;
  cursor: pointer;
}

.container{
  
  height: 80px;
}
.searchbar{
  vertical-align: middle;
  margin: 0px 375px;
  width: 350px;
  border-radius: 16px;
  padding: 10px;
  border: solid 1px;
  border-color: grey;
}

.profile{
  vertical-align: middle;
  border-radius:100%;
  object-fit: contain;
  object-position: top;
  width: 50px;
  cursor: pointer;
}

.notif{
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}