body{
    background-color: #0F0F0F;
}

a{
    text-decoration: none;
}

img{
    width: 20%;
}

.text{
    color: aliceblue;
    font-family: 'Franklin Gothic Demi Condensed', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    padding-right: 16px;
    padding-left: 16px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navdiv .myTube_logo{
    width: 20%;
}

.navdiv li{
    list-style: none;
    display: inline-block;
}

.navdiv input{
    width: 450px;
    padding: 8px;
    border: 2px solid aliceblue;
    border-radius: 12px;
    background-color: #121212;
    color: aliceblue;
    font-family: 'Franklin Gothic Demi Condensed', 'Arial Narrow', Arial, sans-serif;
}

.navdiv input::placeholder{
    color: #878181;
}

.navdiv button{
    margin-left: 30%;
}




